{% extends 'user_access/base.html' %}


{% block content %}

<section class="top-home-section">
  <h3 class="heading3">Jenkins Job Access Request</h3>
</section> 
<section class="home-section home-section2">
  <div class="login-box">

    <form id="signin" action="/jenkins" method="post">
      {% csrf_token %}
      <div class="user-box">
        <input type="text" id="job_name" name="job_name" value="{{ job_name }}" Required>
        <label for="job_name" >Jenkins Job Name</label>
      </div>

      <button type="submit" class="button">
        Send Request For Approval</button>
    </form>
  </div>
  </section>
  <script>
    function myFunction() {
        document.getElementById("signin").submit();
    }
</script>
{% endblock %}